.music-player {
  background-color: $raisin-black;
  // background: radial-gradient(circle, rgba(138, 173, 244,1) 0%, rgba(138, 173, 244,1) 12%, rgba(145, 215, 227,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(138, 173, 244,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(125, 196, 228,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(139, 213, 202,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(73, 77, 100,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%);
  // background-size: 400% 400%;
  // animation: gradient_f linear infinite;
  // animation-delay: 0s;
  // animation-fill-mode: forwards;
  // animation-duration: 20.0s;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}

.music-player-thumbnail {
  background-size: cover;
  background-position: center;
  min-height: 64px;
  min-width: 64px;
  margin-right: 10px;
  border-radius: 16px;
}

.music-player-current {
  margin-bottom: 16px;
}

.music-player-title {
  font-size: 16px;
  font-weight: bold;
  color: $fg;
}

.music-player-artist {
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: $fg;
}

.music-player-album {
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: $fg;
}

.music-player-prev,
.music-player-toggle,
.music-player-random,
.music-player-repeat,
.music-player-next {
  font-size: 15px;
  background-color: $bg;
  padding: 0.5rem 1rem;
}

.music-player-prev:hover,
.music-player-random:hover,
.music-player-repeat:hover,
.music-player-next:hover {
  background-color: $gray;
}

.music-player-toggle.play:hover {
  background-color: $green;
  color: $bg;
}

.music-player-toggle.pause:hover {
  background-color: $yellow;
  color: $bg;
}

.music-player-random,
.music-player-repeat {
  border-radius: 8px;
}

.music-player-random.inactive {
  color: #aaa;
}

.music-player-prev {
  border-radius: 8px 0 0 8px;
}

.music-player-next {
  border-radius: 0 8px 8px 0;
}

.music-player-time {
  font-weight: bold;
  color: $fg;
}

scale.music-player-track trough {
  all: unset;
  background-color: $gray;
  min-height: 7px;
}

.music-volume-scale trough highlight {
  background-color: $fg;
  border-radius: 8px;
}

scale.music-volume-scale trough {
  all: unset;
  background-color: $gray;
  min-height: 7px;
  min-width: 80px;
}

scale.music-player-track trough highlight {
  // background: $blue;
  background: radial-gradient(
    circle,
    rgba(138, 173, 244, 1) 0%,
    rgba(138, 173, 244, 1) 12%,
    rgba(145, 215, 227, 1) 19%,
    rgba(189, 169, 247, 1) 20%,
    rgba(182, 171, 247, 1) 24%,
    rgba(138, 173, 244, 1) 36%,
    rgba(177, 172, 247, 1) 37%,
    rgba(170, 173, 248, 1) 48%,
    rgba(125, 196, 228, 1) 52%,
    rgba(166, 174, 248, 1) 52%,
    rgba(160, 175, 248, 1) 59%,
    rgba(139, 213, 202, 1) 66%,
    rgba(155, 176, 248, 1) 67%,
    rgba(152, 177, 248, 1) 68%,
    rgba(73, 77, 100, 1) 77%,
    rgba(148, 178, 249, 1) 78%,
    rgba(144, 179, 250, 1) 82%,
    rgba(180, 190, 254, 1) 83%,
    rgba(141, 179, 250, 1) 90%,
    rgba(137, 180, 250, 1) 100%
  );
  background-size: 1000% 1000%;
  animation: gradient_f linear infinite;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-duration: 20s;
}

.music-player-volume-icon {
  color: $fg;
  font-size: 15px;
  background-color: $bg;
  padding: 0.5rem 1rem;
}
